* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Public Sans", sans-serif;
    min-height: 100%;
}

.container>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
    grid-area: header;
    background-color: #120c36;
}

.hero {
    color: white;
    grid-area: hero;
    background-color: #6465ac;
}

.menu {
    color: white;
    grid-area: menu;
    background-color: #973028;
}

.main {
    color: white;
    grid-area: main;
    background-color: #033c7c;
}

.banner {
    grid-area: banner;
    background-color: #eaff28;
}

.extra {
    grid-area: extra;
    background-color: #50e3c2;
}

.imagen {
    grid-area: image;
    background-color: #92c064;
}


.container {
    display: grid;
    grid-template-areas:
        "header"
        "hero"
        "menu"
        "main" 
        "banner"
        "extra"
        "image";
}

@media only screen and (min-width: 601px) and (max-width: 1024px){
    .container {
    grid-column: 20% 40% auto;
    grid-template-areas: 
    "header header header"
    "hero hero hero"
    "menu main main"
    "menu banner banner"
    "menu extra image";
    }
}
